{% extends "game/base.html" %}
{% block title %}
    دوزبین | قوانین و مقررات
{% endblock %}

{% block main %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <!-- OTP Verify Page -->
        <div id="otp-page" class="page active">
            <div class="min-h-screen flex flex-col items-center justify-center p-6">
                <div class="w-full max-w-md space-y-8 animate-fade-in">
                    <h2>قوانین و حریم خصوصی دوزبین</h2>
                    <p style="text-align: justify">
                        این برنامه که با نام «دوزبین» شناخته می‌شود، با هدف ارائه تجربه‌ای خلاقانه و سرگرم‌کننده از طریق
                        بازی‌های واقعیت افزوده (AR) در حوزه مارکتینگ، فعالیت می‌کند. حفظ حریم خصوصی و امنیت اطلاعات
                        کاربران، اولویت اصلی ماست. این سند به طور شفاف توضیح می‌دهد که چه اطلاعاتی جمع‌آوری می‌شود،
                        چگونه استفاده می‌شود و از آن محافظت می‌گردد.
                        <br><br>
                        برای سهولت دسترسی و استفاده از امکانات برنامه، فرآیند ورود از طریق کد یکبارمصرف (OTP) و از طریق
                        شماره تلفن همراه شما انجام می‌پذیرد. این اطلاعات صرفاً برای احراز هویت، ایجاد حساب کاربری و
                        امکان ارائه خدمات اصلی برنامه (مانند شرکت در بازی‌های AR و ذهنویس امتیازات) مورد استفاده قرار
                        می‌گیرد. علاوه بر این، برای ارائه تجربه واقعیت افزوده، برنامه ممکن است به دوربین دستگاه شما
                        دسترسی داشته باشد که استفاده از آن منحصراً در محیط خود برنامه و برای قرارگیری المان‌های مجازی در
                        دنیای واقعی است. ما از جمع‌آوری یا پردازش تصاویر دریافتی از دوربین شما در سرورهای خود خودداری
                        می‌کنیم.
<br><br>
                        ما اطلاعات شخصی شما را بدون رضایت قبلی، به هیچ شخص یا نهاد ثالثی به جز در مواردی که به حکم قانون
                        الزامی باشد، فروخته یا افشا نمی‌کنیم. تمامی داده‌ها با استفاده از روش‌های امنیتی استاندارد صنعت
                        محافظت می‌شوند. با این حال، هیچ روش انتقال الکترونیکی یا ذخیره‌سازی اطلاعات، کاملاً ایمن نیست و
                        ما نمی‌توانیم ضمانت مطلق در این زمینه ارائه دهیم. کاربر می‌تواند درخواست حذف حساب کاربری خود را
                        از طریق روش‌های اعلام شده در برنامه ارسال نماید. این سیاست ممکن است در آینده به روزرسانی شود که
                        در این صورت، نسخه جدید در برنامه قابل دسترسی خواهد بود.
                    </p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}